<ion-content>
    <div>
        <ion-card>
            <ion-card-content>
              <ion-item [routerLink]="['update']" class="ion-activated">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label class="text-white">Prénom : </ion-label>
              </ion-item>

              <ion-item [routerLink]="['update']">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label class="text-white">Nom : </ion-label>
              </ion-item>
              <ion-item [routerLink]="['update']" class="ion-activated">
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label class="text-white">Date de Naissance : </ion-label>
              </ion-item>

              <ion-item [routerLink]="['update']">
                <ion-icon name="transgender" slot="start"></ion-icon>
                <ion-label class="text-white">Sexe : </ion-label>
              </ion-item>
              <ion-item [routerLink]="['update']" class="ion-activated">
                <ion-icon name="at" slot="start"></ion-icon>
                <ion-label class="text-white">Email : </ion-label>
              </ion-item>
              <ion-item [routerLink]="['update']">
                <ion-icon name="phone-portrait" slot="start"></ion-icon>
                <ion-label class="text-white">N° Téléphonne : </ion-label>
              </ion-item>
              <ion-item [routerLink]="['update']" class="ion-activated">
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label class="text-white">Personne a contacter en cas d'urgence : </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        <ng-template #error>
            <app-error (retry)="load()"
                message="La liste n'a pas pu être chargée, veuillez réessayer plus tard">
            </app-error>
        </ng-template>
    </div>
</ion-content>
