<ion-content>
    <div>
        <ion-row class="text-white">
            <ion-col size="4">
              <div class='blocLeft'>Calorie : -980</div>
              <div class='blocLeft'>vitesse moyenne : 4.3 km/h</div>
            </ion-col>
            <ion-col size="4">
                <div class='blocCenter'>23000 Pas</div>
            </ion-col>
            <ion-col size="4">
                <div class='blocRight'>distance parcourue : 16km</div>
                <div class='blocRight'>...</div>
            </ion-col>
          </ion-row>
          <h2 class="text-white"> Vitesse moyenne </h2> <figure id="bar"> </figure>
          <figure id="pie"></figure>
        <ng-template #error>
            <app-error (retry)="load()"
                message="La liste n'a pas pu être chargée, veuillez réessayer plus tard">
            </app-error>
        </ng-template>
    </div>
</ion-content>
