<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Statistiques</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div>
          <ion-tabs>
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="day">
                <ion-icon name="calendar-number"></ion-icon>
                <ion-label>Jour</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="month">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Mois</ion-label>
                <!-- <ion-badge>6</ion-badge> -->
              </ion-tab-button>
          
              <ion-tab-button tab="year">
                <ion-icon name="calendar-clear"></ion-icon>
                <ion-label>Année</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>

        <ng-template #error>
            <app-error (retry)="load()"
                message="La liste n'a pas pu être chargée, veuillez réessayer plus tard">
            </app-error>
        </ng-template>
    </div>
</ion-content>
