<ion-content>
    <div>
        <ion-card>
            <ion-card-header>
              <ion-card-title class="text-green">Bonjour Samuel</ion-card-title>
            </ion-card-header>

            <ion-card-content class="text-white">
              Les performances individuelles, ce n'est pas le plus important. On gagne et on perd en équipe..
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon class="text-green" name="trophy" slot="start"></ion-icon>
              <ion-label class="text-green">Objectifs</ion-label>
            </ion-item>
            <ion-card-content class="text-white">
              <ion-label>IMC : </ion-label>
               - ?? 
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label>Sommeil : </ion-label>
               + ?? heure(s)
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label>Consomation Alcool : </ion-label>
               - ?? verre(s) / semaine
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label> Consomation FastFood : </ion-label>
               - 0 fastfood / semaine
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label>Activité sportive : </ion-label>
               + 0 heure(s) / semaine
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label>Consomation Tabac : </ion-label>
               stopper la consomation de tabac (lien pour aider a arrêter)
            </ion-card-content>
            <ion-card-content class="text-white">
              <ion-label>Type de mobilité : </ion-label>
               Privilégié les déplacement non motorisé
            </ion-card-content>
          </ion-card>
        <ng-template #error>
            <app-error (retry)="load()"
                message="La liste n'a pas pu être chargée, veuillez réessayer plus tard">
            </app-error>
        </ng-template>
    </div>
</ion-content>
