<ion-content>
    <div>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Name utilisateur</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon name="trophy" slot="start"></ion-icon>
              <ion-label>Objectifs</ion-label>
            </ion-item>
            <ion-card-content>
              <ion-label>IMC : </ion-label>
               - ?? kg
            </ion-card-content>
            <ion-card-content>
              <ion-label>Sommeil : </ion-label>
               + ?? heure(s)
            </ion-card-content>
            <ion-card-content>
              <ion-label>Consomation Alcool : </ion-label>
               - ?? verre(s) / semaine
            </ion-card-content>
            <ion-card-content>
              <ion-label> Consomation FastFood : </ion-label>
               - ?? fastfood / semaine
            </ion-card-content>
            <ion-card-content>
              <ion-label>Activité sportive : </ion-label>
               + ?? heure(s) / semaine
            </ion-card-content>
            <ion-card-content>
              <ion-label>Consomation Tabac : </ion-label>
               stopper la consomation de tabac (lien pour aider a arrêter)
            </ion-card-content>
            <ion-card-content>
              <ion-label>Type de mobilité : </ion-label>
               Privilégié les déplacement non motorisé
            </ion-card-content>
          </ion-card>
        <ng-template #error>
            <app-error (retry)="load()"
                message="La liste n'a pas pu être chargée, veuillez réessayer plus tard">
            </app-error>
        </ng-template>
    </div>
</ion-content>
