<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 5 Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/inscription']" expand="block" color="primary">Inscription</ion-button>

        <span class="divider line one-line"> ou </span>

        <span class="already">Déjà inscrit ?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>